{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                     <h1 class="p" style="  font-weight: bold;
                                              padding-top: 10px;
                                              font-family: Helvetica Neue,Arial, sans-serif;
                                             font-size: 51px;">Make Your Daily Task</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style=" background: linear-gradient(#D3D8E8,white);">
    <div class="row">
        <div  class="col-md-6">
            <form method="POST" class="p-3 shadow">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" name="task" placeholder="Task Name" >
                    </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="priority" placeholder="Enter Your Priority" >
                    </div>
                 <div class="form-group">
                    <input class="form-control" type="date" name="date" placeholder="enter date" >
                    </div>
                <div class="form-group">
                    <input class="form-control" type="time" name="time" placeholder="enter time" >
                    </div>

                <input type="submit" class="btn btn-success">
                 </form>
            </div>
        <div  class="col-md-6">
            <u style="font-size:40px; font-weight: bold;
                                              padding-top: 5px;
                                               font-family: Helvetica Neue, Arial, sans-serif;"></u>
            {% for i in task1 %}

            <br>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
